<html>
   
   <head>
      <title>PHP Form Validation</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
      <style>
table {
  border: 1px solid black;
  border-spacing: 15pzx;
}


</style>



   
   
   <body>
    

    
                 <div class="container-fluid">
                     <div class="row">
                           <div class="col-md-offset-3 col-md-5">
                                 <form >
                           
                              
                                 
                                    <button class="btn btn-primary" type="submit"  formaction= "view/userauth.php"> Login</button>
                                 
                              
                              
                                 
                                    <button class="btn btn-primary" type="submit" formaction= "view/userin.php"> Register</button>
                                    
                                    
                                 
                                 
                                 </form>
                           </div>
                     
                  
                     </div>
                  

                  </div>
              
                 

               
          
</body>

      
</html>
